@import "../../assets/styles/variables.scss";

.btn {
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  background: $accent-gradient-button;
  padding: 19px 33px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover {
    filter: saturate(200%);
  }
  &--inverse {
    border: 1px solid #33bbcf;
    border-radius: 10px;
    background: linear-gradient(
      157.81deg,
      #def9fa -43.27%,
      #bef3f5 -21.24%,
      #9dedf0 12.19%,
      #7de7eb 29.82%,
      #5ce1e6 51.94%,
      #33bbcf 90.29%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
}
